.sidebar {
    width: 300px;
    background-color: #363740;
}
.menu_item {
    padding-left: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    color: #A4A6B3;
    width: 100%;
    height: 56px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-family: Mulish, sans-serif;
    p{
        margin-left: 24px;
    }

    &:hover{
        box-shadow: 3px 0 0 0 rgba(221, 226, 255, 1) inset;
        background: rgba(159, 162, 180, 0.08);
        color: white;
        path{
            fill: #DDE2FF;
            opacity: 1;
        }
    }
}
.menu_item_active{
    padding-left: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    width: 100%;
    height: 56px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-family: Mulish, sans-serif;
    box-shadow: 3px 0 0 0 rgba(221, 226, 255, 1) inset;
    background: rgba(159, 162, 180, 0.08);
    color: white;
    p{
        margin-left: 24px;
    }

    path{
        fill: #DDE2FF;
        opacity: 1;
    }
}
.title {
    margin-top: 60px;
}
.bottom_menu {
    border-top:  1px solid rgba(223, 224, 235, .08);
    padding-top: 16px;

}

.adm {
    width: 80px;
    height: 24px;
    left: 76px;
    top: 41px;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #A4A6B3;
    opacity: 0.7;
}

.adminer {
    margin-top: 37px;
    display: flex;
    justify-content: center;
}




