@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// Vars
$minipadding: 12px;
$mediumpadding: 32px;
$largepadding: 48px;

.mainform {
	position: relative;
	height: 580px;
	width: 380px;
	background: #fff;
	border: 1px solid #dfe0eb;
	border-radius: 8px;
	margin: 0 auto;

	.form__content {
		margin: 40px 32px;

		.form__content__top {
			.form__content__top-logo {
				text-align: center;
			}

			.form__content__top-text {
				width: 100%;
				font-family: 'Mulish', sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 19px;
				line-height: 24px;
				text-align: center;
				letter-spacing: 0.4px;
				color: #a4a6b3;
				opacity: 0.7;
			}
		}

		.form__content__middle {
			padding-top: $mediumpadding;

			.form__content__middle-header {
				font-family: 'Mulish', sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 30px;
				text-align: center;
				letter-spacing: 0.3px;
				color: #252733;
			}

			.form__content__middle-text {
				padding-top: $minipadding;
				font-family: 'Mulish', sans-serif;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 20px;
				text-align: center;
				letter-spacing: 0.3px;
				color: #9fa2b4;
			}
		}

		.form__content__form {
			padding-top: $largepadding;

			.form__content__form-email {
				p {
					font-family: 'Mulish', sans-serif;
					font-style: normal;
					font-weight: bold;
					font-size: 12px;
					line-height: 15px;
					letter-spacing: 0.3px;
					text-transform: uppercase;
					color: #9fa2b4;
					margin: 0;
				}
				input {
					margin-top: calc(#{$minipadding} / 2);
					padding-left: 16px;
					height: 42px;
					width: 100%;
					background: #fcfdfe;
					border: 1px solid #f0f1f7;
					box-sizing: border-box;
					border-radius: 8px;

					&:focus {
						outline: none;
						padding-left: 16px;
					}

					&:focus::placeholder {
						padding-left: 0px;
					}

					&::placeholder {
						padding: 11px 8px 11px 0px;
						font-family: 'Mulish', sans-serif;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 20px;
						letter-spacing: 0.3px;
						color: #4b506d;
						opacity: 0.4;
					}
				}
			}

			.form__content__form-pass {
				padding-top: calc(#{$largepadding} / 2);
				position: relative;
				.form__content__form-passhelp {
					display: flex;
					justify-content: space-between;

					p {
						font-family: 'Mulish', sans-serif;
						font-style: normal;
						font-weight: bold;
						font-size: 12px;
						line-height: 15px;
						letter-spacing: 0.3px;
						text-transform: uppercase;
						color: #9fa2b4;
					}

					a {
						text-decoration: none;
						font-family: 'Mulish', sans-serif;
						font-style: normal;
						font-weight: normal;
						font-size: 10px;
						line-height: 13px;
						text-align: right;
						letter-spacing: 0.1px;
						color: #9fa2b4;
						text-transform: capitalize;

						&:hover {
							color: #4357c5;
							transition: color 0.3s ease-in;
						}
					}
				}

				input {
					padding-left: 16px;
					margin-top: calc(#{$minipadding} / 2);
					height: 42px;
					width: 100%;
					background: #fcfdfe;
					border: 1px solid #f0f1f7;
					box-sizing: border-box;
					border-radius: 8px;

					&:focus {
						outline: none;
						padding-left: 16px;
					}

					&:focus::placeholder {
						padding-left: 0px;
					}

					&::placeholder {
						padding: 11px 8px 11px 0px;
						font-family: 'Mulish', sans-serif;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 20px;
						letter-spacing: 0.3px;
						color: #4b506d;
						opacity: 0.4;
					}
				}

				&::after {
					content: '';
					position: absolute;
					bottom: 11px;
					right: 16px;
					background-color: red;
				}
			}

			.form__content__btn {
				padding-top: calc(#{$largepadding} / 2);

				button {
					width: 100%;
					height: 48px;
					cursor: pointer;
					border: 0;
					// Background
					background: #3751ff;
					box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
					border-radius: 8px;
					// Text
					color: #ffffff;
					font-family: 'Mulish', sans-serif;
					font-style: normal;
					font-weight: 600;
					font-size: 14px;
					line-height: 20px;
					text-align: center;
					letter-spacing: 0.2px;
				}
			}

			.form__content__bottom {
				padding-top: $mediumpadding;
				display: flex;
				justify-content: center;
				gap: 5px;

				p {
					font-family: 'Mulish', sans-serif;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 20px;
					text-align: center;
					letter-spacing: 0.3px;
					color: #9fa2b4;
				}

				a {
					display: inline-block;
					position: relative;
					text-decoration: none;
					font-family: 'Mulish', sans-serif;
					font-style: normal;
					font-weight: 600;
					font-size: 14px;
					line-height: 20px;
					text-align: center;
					letter-spacing: 0.2px;
					color: #3751ff;

					&::after {
						content: '';
						position: absolute;
						height: 1px;
						width: 100%;
						background-color: #3752ff93;
						bottom: 0;
						left: 0;
						transform: scaleX(0);
						transition: transform 0.3s ease-in-out;
					}

					&:hover::after {
						transform: scaleX(1);
					}
				}
			}
		}
	}
}
