.inner__wrapper{
    display: flex;
}
.inner{
    width: 255px;
    height: 608px;
}

.container{
    max-width: 1920px;
    width: 100%;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: red;
    padding: 36px 23px;
}


.nav{
    display: flex;
    align-items: center;
}

.h1__1{
    color: #252733;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.svg_1{
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 30px;
}

.svg_2{
    margin-top: 10px;
    margin-right: 30px;
}

.one{
    margin-right: 30px;
    color: #DFE0EB;
    // height: 32px;
}

.p__name{
    margin-right: 30px;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;

}

.img__name{
    margin-right: 30px;
    border-radius: 50px;
}